<!DOCTYPE html>
<html>
  <head>
<% include partials/template/head.ejs %>
  </head>
  <body>
  <% include partials/template/header.ejs %>
  <% include partials/content/speakerlist.ejs %>
    <!-- <h1><%= title %></h1>
    <p>Welcome to <%= title %></p> -->

    <section class="layout">
    	<div class="primary">
    		<% include partials/content/whoarewe.ejs %>
    		<% include partials/content/getbusy.ejs %>
    		<% include partials/content/whoshouldcome.ejs %>
    	</div>
    	<aside class="secondary">
    		<% include partials/content/nextmeet.ejs %>
    		<% include partials/content/artworklist.ejs %>
    	</aside>

    </section>
    <% include partials/template/footer.ejs %>
    <% include partials/template/jsdefaults.ejs %>
  </body>
</html>
